* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(49, 49, 49);
}

#mapasset {
  display: none;
}

#mapContainer {
  display: inline-block;
  margin: 0 auto;
}

#playerList {
  vertical-align: top;
  display: inline-block;
  list-style: none;
  color: white;
}
#playerList li {
  border-left: 4px solid cyan;
  text-indent: 4px;
}
#playerList .color.red {
  border-left: 2px solid red;
}
